In [42]:
import ibm_db
import pyodbc
import pandas as pd
from ibmdbpy import IdaDataBase, IdaDataFrame

In [3]:
# connection using pyodbc

conn = pyodbc.connect("key")

# Extract dataset from DB2

In [4]:
sql="select * from review"
df_review = pd.read_sql(sql,conn)

df_review.head()

,review_id,user_id,biz_id,text,date
0,fdiNeiN_hoCxCMy2wTRW9g,w31MKYsNFMrjhWxxAb5wIw,eU_713ec6fTGNO4BegRaww,I'll be the first to admit that I was not exci...,2013-01-20 13:25:59
1,RLbWoIri29BcQ8yjzsvQLQ,_o740mSNRhMNYuPjSJoPLg,sMzNLdhJZGzYirIWt-fMAg,This place epitomizes the rumored transformati...,2015-06-21 00:59:14
2,vAckaF8n0KKJeqHOnb1ayw,JjDR060LJQcNNVWKuU64fA,hcFSc0OHgZJybnjQBrL_8Q,Here's why I don't write reviews for Chinese r...,2013-05-07 03:29:21
3,dcKpWjwqKl0ImVKEru6Q1A,X-5IICsYwqImns4WxHi91Q,CZKkoMlqu0N0zCFK-3T_Fg,Great cocktails and very good food. Overall f...,2013-02-21 21:25:07
4,DJNhNTwBVSsrsYVQi-iacg,1-WVaosTuwwYglNTl8CViA,1hqOjPxgH8IXE4bNq6DFiw,"Bruh, I'm a stickler for good wings. Like to ...",2016-08-25 13:12:22

In [5]:
sql="select * from business"
df_business = pd.read_sql(sql,conn)

df_business.head()

,biz_id,biz_name,biz_state,biz_stars,biz_review_count,biz_lat,biz_lng,biz_city,biz_address,biz_postal
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,AZ,3.0,5,33.522143,-112.018481,Phoenix,2818 E Camino Acequia Drive,85016
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,ON,2.5,128,43.605499,-79.652289,Mississauga,30 Eglinton Avenue W,L5R 3E7
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,NC,4.0,170,35.092564,-80.859132,Charlotte,"10110 Johnston Rd, Ste 15",28210
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,AZ,5.0,3,33.455613,-112.395596,Goodyear,"15655 W Roosevelt St, Ste 237",85338
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,NC,4.0,4,35.190012,-80.887223,Charlotte,"4209 Stuart Andrew Blvd, Ste F",28217

In [6]:
sql="select * from user"
df_user = pd.read_sql(sql,conn)

df_user.head()

,user_id,user_name,user_review_count,user_useful,user_funny,user_cool,user_average_stars,user_fans
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,84,17,25,4.03,5
1,4XChL029mKr5hydo79Ljxg,Jenna,33,48,22,16,3.63,4
2,bc8C_eETBWL0olvFSJJd0w,David,16,28,8,10,3.71,0
3,dD0gZpBctWGdWo9WlGuhlA,Angela,17,30,4,14,4.85,5
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,361,1114,279,665,4.08,39

In [7]:
sql="select * from result"
df_result = pd.read_sql(sql,conn)

df_result.head()

,cleanliness_anger,cleanliness_disgust,cleanliness_fear,cleanliness_joy,cleanliness_sadness,cleanliness_sentiment,food_anger,food_disgust,food_fear,food_joy,...,price_joy,price_sadness,price_sentiment,review_id,service_anger,service_disgust,service_fear,service_joy,service_sadness,service_sentiment
0,NaN,NaN,NaN,NaN,NaN,NaN,0.297641,NaN,NaN,0.532699,...,NaN,NaN,NaN,fdiNeiN_hoCxCMy2wTRW9g,NaN,NaN,NaN,0.706352,NaN,0.036073
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.615909,...,NaN,NaN,NaN,RLbWoIri29BcQ8yjzsvQLQ,NaN,NaN,NaN,0.690395,NaN,0.319389
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.502956,...,NaN,NaN,NaN,vAckaF8n0KKJeqHOnb1ayw,NaN,NaN,NaN,NaN,0.291435,-0.872762
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.934449,...,NaN,NaN,NaN,dcKpWjwqKl0ImVKEru6Q1A,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,DJNhNTwBVSsrsYVQi-iacg,0.451353,NaN,NaN,NaN,0.441935,-0.012256

In [8]:
conn.close()

In [9]:
len(df_result[df_result['review_id'].isin(df_review['review_id'])])

64320

## Sentiment table

In [10]:
sentiment_col = [i for i in df_result.columns if 'sentiment' in i]
sentiment_col

['cleanliness_sentiment',
 'food_sentiment',
 'location_sentiment',
 'price_sentiment',
 'service_sentiment']

In [13]:
df_sentiment = pd.merge(df_result[sentiment_col+['review_id']], df_review[['review_id', 'date', 'biz_id']], on='review_id').merge(df_business[['biz_name','biz_id','biz_address','biz_city','biz_state', 'biz_lat', 'biz_lng']], on='biz_id')
df_sentiment.head()

,cleanliness_sentiment,food_sentiment,location_sentiment,price_sentiment,service_sentiment,review_id,date,biz_id,biz_name,biz_address,biz_city,biz_state,biz_lat,biz_lng
0,NaN,-0.289478,-0.213544,NaN,0.036073,fdiNeiN_hoCxCMy2wTRW9g,2013-01-20 13:25:59,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,PA,40.426779,-80.005652
1,NaN,0.937497,-0.252457,NaN,NaN,Ci7eLn5l1X1UTIe0COaCrA,2015-06-08 18:51:54,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,PA,40.426779,-80.005652
2,NaN,0.567251,0.955519,NaN,NaN,bGBAQxwoqEdLMoNkq8iNOQ,2013-07-18 01:58:17,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,PA,40.426779,-80.005652
3,NaN,0.208564,-0.619051,NaN,0.000000,D2oYk9ipsvsYP_ls0aL9kg,2009-08-03 20:21:18,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,PA,40.426779,-80.005652
4,NaN,0.460852,0.558421,0.919294,0.662019,rnWDfIlw_fGqySRWaM84gg,2016-04-23 14:18:21,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,PA,40.426779,-80.005652

In [14]:
df_sentiment.groupby('biz_name')['review_id'].count().sort_values(ascending=False).index[0]

'Gaucho Parrilla Argentina'

In [43]:
df_sentiment.groupby('biz_id')['review_id'].count().sort_values(ascending=False).index[0:10]

Index(['u4sTiCzVeIHZY8OlaL346Q', 'woXlprCuowrLJswWere3TQ',
       'JLbgvGM4FXh9zNP4O5ZWjQ', 'lKom12WnYEjH5FFemK3M1Q',
       'Eg_M8eeu9SDEdbP7iUmVbQ', 'sc__kdcFV4IcNTfBx1707w',
       'i39--wZD6L9hm9Lg90Uziw', 'sMzNLdhJZGzYirIWt-fMAg',
       'FgTzITgrmvrZqoHvkTSDzA', 'LQFmktF43j2NPncKdNd9mg'],
      dtype='object', name='biz_id')

In [17]:
top10 = df_sentiment.groupby('biz_name')['review_id'].count().sort_values(ascending=False).index[0:10]

In [18]:
top10

Index(['Gaucho Parrilla Argentina', 'Primanti Bros', 'täkō', 'Meat & Potatoes',
       'The Porch at Schenley', 'P&G's Pamela's Diner',
       'Central Diner & Grille', 'Sienna Mercato', 'Burgatory',
       'Jerome Bettis' Grille 36'],
      dtype='object', name='biz_name')

In [19]:
df_top10 = df_sentiment[df_sentiment['biz_name'].isin(top10)]

In [20]:
df_top10.head()

,cleanliness_sentiment,food_sentiment,location_sentiment,price_sentiment,service_sentiment,review_id,date,biz_id,biz_name,biz_address,biz_city,biz_state,biz_lat,biz_lng
135,NaN,0.518265,0.458009,NaN,0.319389,RLbWoIri29BcQ8yjzsvQLQ,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
136,NaN,0.451621,0.391401,0.645785,0.399806,5eA8ekZoV2iIfWxxiwBbdw,2016-04-11 18:32:56,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
137,NaN,0.733487,0.612712,0.927357,0.803208,Te7XuTW0-n99jxDDCpYSGg,2014-04-19 12:06:45,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
138,NaN,0.260417,0.767509,-0.231767,0.967461,vgl9cYrqnYZT0lmvbiVT6w,2017-08-07 19:30:42,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
139,NaN,0.845178,0.991747,-0.577988,0.991747,Z4JSZyVv6VgiDbODcis8pg,2015-08-30 15:08:49,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437

In [21]:
import datetime
import calendar

def week_of_month(tgtdate):
#     tgtdate = tgtdate.to_datetime()

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

df_top10['date'] = pd.to_datetime(df_top10['date'])
df_top10['week_of_month'] = df_top10['date'].apply(week_of_month)
df_top10['week_of_year'] = df_top10['date'].dt.week
df_top10['month'] = df_top10['date'].dt.month
df_top10['year'] = df_top10['date'].dt.year
df_top10['dates'] = df_top10['date'].dt.date

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
df_top10.head()

,cleanliness_sentiment,food_sentiment,location_sentiment,price_sentiment,service_sentiment,review_id,date,biz_id,biz_name,biz_address,biz_city,biz_state,biz_lat,biz_lng,week_of_month,week_of_year,month,year,dates
135,NaN,0.518265,0.458009,NaN,0.319389,RLbWoIri29BcQ8yjzsvQLQ,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437,3,25,6,2015,2015-06-21
136,NaN,0.451621,0.391401,0.645785,0.399806,5eA8ekZoV2iIfWxxiwBbdw,2016-04-11 18:32:56,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437,2,15,4,2016,2016-04-11
137,NaN,0.733487,0.612712,0.927357,0.803208,Te7XuTW0-n99jxDDCpYSGg,2014-04-19 12:06:45,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437,2,16,4,2014,2014-04-19
138,NaN,0.260417,0.767509,-0.231767,0.967461,vgl9cYrqnYZT0lmvbiVT6w,2017-08-07 19:30:42,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437,1,32,8,2017,2017-08-07
139,NaN,0.845178,0.991747,-0.577988,0.991747,Z4JSZyVv6VgiDbODcis8pg,2015-08-30 15:08:49,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437,4,35,8,2015,2015-08-30

In [23]:
df_top10.columns

Index(['cleanliness_sentiment', 'food_sentiment', 'location_sentiment',
       'price_sentiment', 'service_sentiment', 'review_id', 'date', 'biz_id',
       'biz_name', 'biz_address', 'biz_city', 'biz_state', 'biz_lat',
       'biz_lng', 'week_of_month', 'week_of_year', 'month', 'year', 'dates'],
      dtype='object')

In [24]:
df_top10['cleanliness_sentiment'] = df_top10['cleanliness_sentiment'].astype(float).round(2)
df_top10['food_sentiment'] = df_top10['food_sentiment'].astype(float).round(2)
df_top10['location_sentiment'] = df_top10['location_sentiment'].astype(float).round(2)
df_top10['service_sentiment'] = df_top10['service_sentiment'].astype(float).round(2)
df_top10['price_sentiment'] = df_top10['price_sentiment'].astype(float).round(2)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
df_top10.fillna(0, inplace=True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [27]:
df_top10.rename(columns={'biz_lat':'Latitude', 'biz_lng':'Longitude'}, inplace=True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

## Save data to data asset

In [28]:
from project_lib import Project

project = Project(None, 'project-id', 'project-token')

pc = project.project_context

project.get_name()

project.save_data(data=df_top10.to_csv(index=False),file_name='sentiment-top10.csv',overwrite=True)

df_top10.dtypes

cleanliness_sentiment           float64
food_sentiment                  float64
location_sentiment              float64
price_sentiment                 float64
service_sentiment               float64
review_id                        object
date                     datetime64[ns]
biz_id                           object
biz_name                         object
biz_address                      object
biz_city                         object
biz_state                        object
Latitude                        float64
Longitude                       float64
week_of_month                     int64
week_of_year                      int64
month                             int64
year                              int64
dates                            object
dtype: object

# Emotion table

In [29]:
emotion_col = ['cleanliness_anger', 'cleanliness_disgust', 'cleanliness_fear','cleanliness_joy', 'cleanliness_sadness',
       'food_anger', 'food_disgust', 'food_fear', 'food_joy', 'food_sadness', 'location_anger', 'location_disgust', 'location_fear',
       'location_joy', 'location_sadness', 'price_anger', 'price_disgust', 'price_fear', 'price_joy', 'price_sadness', 'service_anger', 'service_disgust',
       'service_fear', 'service_joy', 'service_sadness']
emotion_col

['cleanliness_anger',
 'cleanliness_disgust',
 'cleanliness_fear',
 'cleanliness_joy',
 'cleanliness_sadness',
 'food_anger',
 'food_disgust',
 'food_fear',
 'food_joy',
 'food_sadness',
 'location_anger',
 'location_disgust',
 'location_fear',
 'location_joy',
 'location_sadness',
 'price_anger',
 'price_disgust',
 'price_fear',
 'price_joy',
 'price_sadness',
 'service_anger',
 'service_disgust',
 'service_fear',
 'service_joy',
 'service_sadness']

In [30]:
df_emotion = pd.merge(df_result[emotion_col+['review_id']], df_review[['review_id', 'date', 'biz_id']], on='review_id').merge(df_business[['biz_name','biz_id','biz_address','biz_city','biz_city','biz_state', 'biz_lat', 'biz_lng']], on='biz_id')
df_emotion.head()

,cleanliness_anger,cleanliness_disgust,cleanliness_fear,cleanliness_joy,cleanliness_sadness,food_anger,food_disgust,food_fear,food_joy,food_sadness,...,review_id,date,biz_id,biz_name,biz_address,biz_city,biz_city,biz_state,biz_lat,biz_lng
0,NaN,NaN,NaN,NaN,NaN,0.297641,NaN,NaN,0.532699,NaN,...,fdiNeiN_hoCxCMy2wTRW9g,2013-01-20 13:25:59,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,Pittsburgh,PA,40.426779,-80.005652
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.816877,NaN,...,Ci7eLn5l1X1UTIe0COaCrA,2015-06-08 18:51:54,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,Pittsburgh,PA,40.426779,-80.005652
2,NaN,NaN,NaN,NaN,NaN,NaN,0.346084,NaN,0.794723,NaN,...,bGBAQxwoqEdLMoNkq8iNOQ,2013-07-18 01:58:17,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,Pittsburgh,PA,40.426779,-80.005652
3,NaN,NaN,NaN,NaN,NaN,NaN,0.588957,NaN,0.621340,0.179305,...,D2oYk9ipsvsYP_ls0aL9kg,2009-08-03 20:21:18,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,Pittsburgh,PA,40.426779,-80.005652
4,NaN,NaN,NaN,NaN,NaN,NaN,0.400455,NaN,0.533686,0.597183,...,rnWDfIlw_fGqySRWaM84gg,2016-04-23 14:18:21,eU_713ec6fTGNO4BegRaww,La Tavola Italiana,1 Boggs Ave,Pittsburgh,Pittsburgh,PA,40.426779,-80.005652

In [31]:
df_emotion_top10 = df_emotion[df_emotion['biz_name'].isin(top10)]
df_emotion_top10.head()

,cleanliness_anger,cleanliness_disgust,cleanliness_fear,cleanliness_joy,cleanliness_sadness,food_anger,food_disgust,food_fear,food_joy,food_sadness,...,review_id,date,biz_id,biz_name,biz_address,biz_city,biz_city,biz_state,biz_lat,biz_lng
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.615909,NaN,...,RLbWoIri29BcQ8yjzsvQLQ,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,Pittsburgh,PA,40.44395,-79.996437
136,NaN,NaN,NaN,NaN,NaN,NaN,0.395389,NaN,0.585053,NaN,...,5eA8ekZoV2iIfWxxiwBbdw,2016-04-11 18:32:56,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,Pittsburgh,PA,40.44395,-79.996437
137,NaN,NaN,NaN,NaN,NaN,NaN,0.339412,0.245906,0.593843,0.220878,...,Te7XuTW0-n99jxDDCpYSGg,2014-04-19 12:06:45,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,Pittsburgh,PA,40.44395,-79.996437
138,NaN,NaN,NaN,NaN,NaN,0.476086,0.167420,NaN,0.420696,0.318980,...,vgl9cYrqnYZT0lmvbiVT6w,2017-08-07 19:30:42,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,Pittsburgh,PA,40.44395,-79.996437
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.823777,NaN,...,Z4JSZyVv6VgiDbODcis8pg,2015-08-30 15:08:49,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,Pittsburgh,PA,40.44395,-79.996437

In [32]:
len(df_emotion_top10)

13515

In [33]:
df_cleanliness = pd.DataFrame()
df_food = pd.DataFrame()
df_location = pd.DataFrame()
df_price = pd.DataFrame()
df_service = pd.DataFrame()

In [34]:
from tqdm import tqdm

In [35]:
for aspect_emotion in tqdm(emotion_col):
    aspect = aspect_emotion.split('_')[0]
    emotion = aspect_emotion.split('_')[1]
    if 'cleanliness' in aspect:
        df_temp = df_emotion_top10[['review_id',aspect_emotion]]
        df_temp.rename(columns={aspect_emotion:'cleanliness'}, inplace=True)
        df_temp['emotion'] = emotion
        df_cleanliness = df_cleanliness.append(df_temp)
    elif 'food' in aspect:
        df_temp = df_emotion_top10[['review_id',aspect_emotion]]
        df_temp.rename(columns={aspect_emotion:'food'}, inplace=True)
        df_temp['emotion'] = emotion
        df_food = df_food.append(df_temp)
    elif 'location' in aspect:
        df_temp = df_emotion_top10[['review_id',aspect_emotion]]
        df_temp.rename(columns={aspect_emotion:'location'}, inplace=True)
        df_temp['emotion'] = emotion
        df_location = df_location.append(df_temp)
    elif 'price' in aspect:
        df_temp = df_emotion_top10[['review_id',aspect_emotion]]
        df_temp.rename(columns={aspect_emotion:'price'}, inplace=True)
        df_temp['emotion'] = emotion
        df_price = df_price.append(df_temp)
    elif 'service' in aspect:
        df_temp = df_emotion_top10[['review_id',aspect_emotion]]
        df_temp.rename(columns={aspect_emotion:'service'}, inplace=True)
        df_temp['emotion'] = emotion
        df_service = df_service.append(df_temp)

  0%|          | 0/25 [00:00<?, ?it/s]/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
 20%|██        | 5/25 [00:00<00:03,  6.50it/s]/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
 40%|████      | 10/25 [00:01<00:02,  6.19it/s]/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
 60%|██████    | 15/25 [00:02<00:01,  6.06it/s]/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
 80%|████████  | 20/25 [00:03<00:00,  6.78it/s]/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
100%|██████████| 25/25 [00:03<00:00,  6.89it/s]

In [36]:
df_combine = pd.merge(df_cleanliness, df_food, on=['review_id','emotion']).merge(df_location, on=['review_id','emotion']).merge(df_service, on=['review_id','emotion']).merge(df_price, on=['review_id','emotion'])

In [37]:
df_combine = pd.merge(df_combine, df_review[['review_id', 'date', 'biz_id']], on='review_id').merge(df_business[['biz_name','biz_id','biz_address','biz_city','biz_state', 'biz_lat', 'biz_lng']], on='biz_id')
df_combine.head()

,review_id,cleanliness,emotion,food,location,service,price,date,biz_id,biz_name,biz_address,biz_city,biz_state,biz_lat,biz_lng
0,RLbWoIri29BcQ8yjzsvQLQ,NaN,anger,NaN,NaN,NaN,NaN,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
1,RLbWoIri29BcQ8yjzsvQLQ,NaN,disgust,NaN,NaN,NaN,NaN,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
2,RLbWoIri29BcQ8yjzsvQLQ,NaN,fear,NaN,NaN,NaN,NaN,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
3,RLbWoIri29BcQ8yjzsvQLQ,NaN,joy,0.615909,0.324674,0.690395,NaN,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437
4,RLbWoIri29BcQ8yjzsvQLQ,NaN,sadness,NaN,NaN,NaN,NaN,2015-06-21 00:59:14,sMzNLdhJZGzYirIWt-fMAg,Sienna Mercato,942 Penn Ave,Pittsburgh,PA,40.44395,-79.996437

In [38]:
import datetime
import calendar

def week_of_month(tgtdate):
#     tgtdate = tgtdate.to_datetime()

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

df_combine['date'] = pd.to_datetime(df_combine['date'])
df_combine['week_of_month'] = df_combine['date'].apply(week_of_month)
df_combine['week_of_year'] = df_combine['date'].dt.week
df_combine['month'] = df_combine['date'].dt.month
df_combine['year'] = df_combine['date'].dt.year
df_combine['dates'] = df_combine['date'].dt.date

In [39]:
df_combine['food'] = df_combine['food'].astype(float).round(2)
df_combine['cleanliness'] = df_combine['cleanliness'].astype(float).round(2)
df_combine['location'] = df_combine['location'].astype(float).round(2)
df_combine['service'] = df_combine['service'].astype(float).round(2)
df_combine['price'] = df_combine['price'].astype(float).round(2)
df_combine.fillna(0,inplace=True)

In [40]:
df_combine.rename(columns={'biz_lat':'Latitude', 'biz_lng':'Longitude'}, inplace=True)

## Save data to data asset

In [41]:
from project_lib import Project

project = Project(None, 'project-id', 'project-token')

pc = project.project_context

project.get_name()

project.save_data(data=df_combine.to_csv(index=False),file_name='aspect-emotion-top10.csv',overwrite=True)

{'file_name': 'aspect-emotion-top10.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'yelpproject-donotdelete-pr-nzz43xs8bky5xh',
 'asset_id': 'e2fb4e24-743e-4d0b-a3ca-ee61127d71d5'}